.card-title{
    padding:0%;
    height: 5%;
}
.card-title >.mdl-cell >.mdl-card__title > .mdl-card__title-text {
    color: #bdbdbd;
    font-size: 120%;
}
.card-title >.mdl-cell >.mdl-card__title > .description {
    color: #bababa;
    margin-left: 1%;
    font-size: 60%;
}
.card-left {
    width: 100%;
    height:100%;
    overflow-y: auto;
}
.card-right {
    width: 100%;
    height:100%;
}
.mdl-card__title > .control-panel-img{
    width: 7%;
    height: 7%;
}
.mdl-card__title > .data-detail-img{
    width: 5%;
    height: 5%;
}
.card-left  >.mdl-card__title text{
    color: #bababa;
    font-size: 80%;
    margin-left:3%;
}
.card-right  >.mdl-card__title text{
    color: #bababa;
    font-size: 80%;
    margin-left:3%;
}
.card-center{
    width: 100%;
    height:100%;
}
.content{
    padding:0%;
    height:540px;
}
.content text{
    color: #757475;
    font-size: 80%;
}
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: 7px;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    width: 500px;
    height: 5px;
    margin-left: 10px;
    font-size: 10px;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filebox.bs3-primary label {
    color: #fff;
    background-color: #757475;
    border-color: #757475;
}
.add-button {
    background-color: #bababa;
    border: none;
    color: white;
    padding:3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width:100%;
    margin-top: 3%;
}
.dimensions-box{
    display: none;
    border: 0.6px solid #bababa;
    margin-top: 3%;
    width:100%;
    height:100px;
    font-size: 10pt;
    overflow-y: auto;
    overflow-x: hidden;
}
.dimension-groups-box{
    display: none;
    border: 0.6px solid #bababa;
    margin-top: 3%;
    width:100%;
    height:auto;
}
.color-box{
    border: 0.6px solid #bababa;
    width:100%;
    margin-top: 3%;
    height:auto;
}
.group0{
    width:96%;
    height:30px;
    background-color: #FFD700;
    margin:2%;
}
.group1{
    width:96%;
    min-height:30px;
    background-color: #63d297;
    margin:2%;
}
.group2{
    width:96%;
    min-height:30px;
    background-color: #00b9d8;
    margin:2%;
}
.group3{
    width:96%;
    min-height:30px;
    background-color: #EF3C79;
    margin:2%;
}
.group4{
    width:96%;
    min-height:30px;
    background-color: #FFA361;
    margin:2%;
}
.group5{
    width:96%;
    min-height:30px;
    background-color: #FC2D28;
    margin:2%;
}
#renderer{
    width: 100%;
    height:100%;
}
svg{
    width: 100%;
    height:100%;
}

#info{
    position:fixed;
    width:200px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

#info.hidden{
    display:none;
}

#info p{
    margin:0px;
    font-size:12px;
    font-weight: bold;
}

.select-box{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-size: 8px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.56);
    width: 96%;
    position: relative;
    background: rgba(255, 255, 255, 0);
    border: 0.6px solid #bababa;
}
.select-box option{
    color: rgba(0, 0, 0, 0.54);
    background: rgba(255, 255, 255, 0.56);
}
rect.selection {
    cursor: move !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    stroke: #545454;
    stroke-width: 2px;
    stroke-opacity: 1;
    fill: white;
    fill-opacity: 0.5;
}

#selectList{
    height: 180px;
    width:100%;
    margin:-5px;
    font-size: 10pt;
    overflow-y: auto;
    overflow-x: hidden;
}

.md-checkbox {
    position: relative;
    margin: 16px 0;
}
.md-checkbox label {
    cursor: pointer;
}
.md-checkbox label:before, .md-checkbox label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}
.md-checkbox label:before {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 5px;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
    background: rgb(3,169,244);
    border: 2px solid rgb(3,169,244);
}
.md-checkbox input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg);
    top: 4px;
    left: 3px;
    width: 7px;
    height: 3px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

.comparison-select-box{
    display: none;
    float: right;
    margin-right: 50%;
    margin-top: 10px;
    width: 20%;
    height: 10%;
    position: relative;
    z-index: 2;
    font-size: 8pt;
    background: #ffffff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.56);
    left: 10px;
    border:0px;
}

.comparison-select-box option{
    color: rgba(0, 0, 0, 0.54);
    background: rgba(255, 255, 255, 0.56);
}

.radar-container{
    float: left;
    width:200px;
    height:200px;
    font-size: 5px;
    background-color:white;
}

.radar-chart{
    width:200px;
    height:200px;
    font-size: 5pt;
}

.radar-chart .area {
    fill-opacity: 0.7;
}

.radar-chart.focus .area {
    fill-opacity: 0.3;
}

.radar-chart.focus .area.focused {
    fill-opacity: 0.9;
}

.area.germany, .germany .circle {
    fill: #FFD700;
    stroke: none;
}

.area.argentina, .argentina .circle {
    fill: #ADD8E6;
    stroke: none;
}

.radar-chart .axis .legend {
    font-family: sans-serif;
    font-size: 7px;
    font-weight: bold;
    background-color: white;
}

.radar-chart .tooltip {
    font-family: sans-serif;
    font-size: 5px;
    transition: opacity 200ms;
    opacity: 0;
}